.about{
    /* height: 500px; */
    border: 2px solid black;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
}
.about-img{
    /* height: 400px; */
    margin: 20px;
    width: 80%;
    border-radius: 10px;
}
.about-right{
    flex-basis: 56%;
}
.about-right h2 {
    margin-top: 5px;
    color: rgb(103, 35, 35);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 400px;

}
.about-right h3{
    padding-top: 12px;
}
.about-right p{
    margin-top: 20px;
}

.team-members{
    margin:40px auto ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-member img{
    cursor: pointer;
    height: auto;
    width: 100%;
    border-radius: 12px;
    display: block;
}
.team-member img:hover{
    transition: 3ms;
    transform: scale(1.1);
}
.team-member{
    flex-basis: 31%;
}
.des{
    font-size: 16px;
    color: #241515;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    text-transform: none;
}
.team-member h4{
    text-align: center;
    margin-top: 10px;
}
.team-member p{
    text-align: center;
    margin-top: 2px;
    font-size: 14px;
}


/* ----------------@media qury------------ */

