nav{
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
nav .logo {
    margin-top: 15px;
    height: 77px;
    width:100px;
    cursor: pointer;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom: 1rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}

nav ul li:hover{
text-decoration: underline;
color: #b09e37;
cursor: pointer;
}
.dark-nav{
    height: 90px;
background:#272413 ;
transition:0.5s ;
}
.menu_icon{
    display: none;
}


/* =======media query============ */

@media (max-width:900px){
    .logo{
        width:140px ;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width:810px) {
    nav{
        padding: 15 0;
    }
    nav ul{
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        background: #a99e63;
        z-index: 1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        
        }
        nav ul li{
            display: block;
            margin: 35px 20px;
        }
        nav ul li:hover{
            color: #272413;
        }
        .menu_icon{
            display: block;
            font-size: 30px;
            width: 30px;
            cursor: pointer;
            z-index: 1;
        }
        .hide-mobile-menu{
            right: -200px;
        }
}